<div>
  <div><h1>{{edicion ? 'Actualizar':'Registro'}}</h1></div>
  <div>
    <form [formGroup]="form" (submit)="aceptar()">
      <mat-form-field *ngIf="edicion">
        <mat-label>ID</mat-label>
        <input matInput formControlName="codigo" />
        <mat-error *ngIf="form.get('codigo')?.hasError('required')">
          El codigo es obligatorio!!
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Usuario</mat-label>
        <input matInput formControlName="usernameu" />
        <mat-error *ngIf="form.get('usernameu')?.hasError('required')">
          El username es obligatorio!!
        </mat-error>
      </mat-form-field>
      <br />
      <div>
        <label>Estado</label>
        <mat-radio-group formControlName="enabledu" [(ngModel)]="estado">
          <mat-radio-button [value]="true">Disponible</mat-radio-button>
          <mat-radio-button [value]="false">No disponible</mat-radio-button>
        </mat-radio-group>
      </div>
      <br />
      <mat-form-field>
        <mat-label>Correo</mat-label>
        <input matInput formControlName="correoelectronico" />
        <mat-error *ngIf="form.get('correoelectronico')?.hasError('required')">
          El correo electronico es obligatorio!!
        </mat-error>
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Telofono</mat-label>
        <input matInput formControlName="telefonou" />
        <mat-error *ngIf="form.get('telefonou')?.hasError('required')">
          El telofono es obligatorio!!
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombresu" />
        <mat-error *ngIf="form.get('nombresu')?.hasError('required')">
          El nombre es obligatorio!!
        </mat-error>
      </mat-form-field>
      <br />

      <button matButton="elevated">Registrar</button>
    </form>
  </div>
</div>
