<div class="container">
    <div style="text-align: center; margin: 5%;">
        <h1>Lista de Tema Foros</h1>
    </div>
    <div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!-- ID Column -->
            <ng-container matColumnDef="Id">
                <th mat-header-cell *matHeaderCellDef> ID</th>
                <td mat-cell *matCellDef="let element"> {{element.idTema}} </td>
            </ng-container>
          
            <!-- Nombre Column -->
            <ng-container matColumnDef="Titulo">
                <th mat-header-cell *matHeaderCellDef> Tipo de Tema </th>
                <td mat-cell *matCellDef="let element"> {{element.tituloTema}} </td>
            </ng-container>

            <!-- Destino Column -->
            <ng-container matColumnDef="Comentario">
                <th mat-header-cell *matHeaderCellDef> Destino </th>
                <td mat-cell *matCellDef="let element"> {{element.comentario}} </td>
            </ng-container>

             <!-- Symbol Column -->

      <ng-container matColumnDef="FechaCreacion">

       <th mat-header-cell *matHeaderCellDef> Fecha de creacion  </th>

       <td mat-cell *matCellDef="let element"> {{element.fechaCreacion|date:'dd/MM/yyyy'}} </td>

      </ng-container>

      <!-- Weight Column -->

      <ng-container matColumnDef="EstadoCerrado">

       <th mat-header-cell *matHeaderCellDef> Estado </th>

       <td mat-cell *matCellDef="let element"> {{element.estadoCerrado?'Cerrado':'Abierto'}} </td>

      </ng-container>

             <!-- Symbol Column -->
              <ng-container matColumnDef="Actualizar">
                <th mat-header-cell *matHeaderCellDef> Actualizar </th>
                <td mat-cell *matCellDef="let element">

         <button matButton [routerLink]="['ediciones', element.idTema]"
         >
         <mat-icon>edit</mat-icon> 
        </button>
        </td>

      </ng-container>

      <ng-container matColumnDef="Eliminar">

        <th mat-header-cell *matHeaderCellDef> Eliminar </th>

        <td mat-cell *matCellDef="let element">

         <button matButton (click)="eliminar(element.idTema)"
         >
         <mat-icon>delete</mat-icon>
        </button>
        </td>

      </ng-container>



            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    </div>
</div>
