<div class="container">
    <div style="text-align: center;margin: 5%;">
        <h1>Registro de Usuarios</h1>
    </div>
    <div class="form-container"  style="text-align: center;margin: 5%;">
        <form [formGroup]="form" (submit)="aceptar()">
            <mat-form-field class="example-full-width">
                <mat-label>Nombre de usuario </mat-label>
                <input matInput placeholder="12" formControlName="username">
                <mat-error *ngIf="form.get('username')?.hasError('required')">
                    El número de pasos es obligatorio!!
                </mat-error>
            </mat-form-field>
            <br>

             <!-- Solo mostrar password en modo inserción -->
            <mat-form-field class="example-full-width" *ngIf="!edicion">
                <mat-label>Password</mat-label>
                <input matInput type="password" placeholder="Ingrese password" formControlName="password">
                <mat-error *ngIf="form.get('password')?.hasError('required')">
                    El password es obligatorio
                </mat-error>
            </mat-form-field>
            <br *ngIf="!edicion">

            <br>

            <div>
        <label>Ruta favorito</label>
        <mat-radio-group formControlName="enabled" [(ngModel)]="estado">
          <mat-radio-button [value]="true">Habilitado</mat-radio-button>
          <mat-radio-button [value]="false">Deshabilitado</mat-radio-button>
        </mat-radio-group>
      </div>
            <br>

            <mat-form-field class="example-full-width">
                <mat-label>Correro electronico </mat-label>
                <input matInput placeholder="12" formControlName="correo">
                <mat-error *ngIf="form.get('correo')?.hasError('required')">
                    El número de calorias es obligatorio!!
                </mat-error>
            </mat-form-field>
            <br>

            <mat-form-field class="example-full-width">
                <mat-label>Telefono </mat-label>
                <input matInput placeholder="12" formControlName="telefono">
                <mat-error *ngIf="form.get('telefono')?.hasError('required')">
                    El número de calorias es obligatorio!!
                </mat-error>
            </mat-form-field>
            <br>

              <mat-form-field class="example-full-width">
                <mat-label>Nombre </mat-label>
                <input matInput placeholder="12" formControlName="nombre">
                <mat-error *ngIf="form.get('nombre')?.hasError('required')">
                    El número de calorias es obligatorio!!
                </mat-error>
            </mat-form-field>
            <br>
            <button matButton="elevated">Registrar</button>
        </form>
    </div>
</div>