<div>
  <div><h1>{{edicion ? 'Actualizar':'Registro'}}</h1></div>
  <div>
    <form [formGroup]="form" (submit)="aceptar()">
      <mat-form-field *ngIf="edicion">
        <mat-label>ID</mat-label>
        <input matInput formControlName="codigo" />
        <mat-error *ngIf="form.get('codigo')?.hasError('required')">
          El codigo es obligatorio!!
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Nombre de Ruta</mat-label>
        <input matInput formControlName="nombrerutar" />
        <mat-error *ngIf="form.get('nombrerutar')?.hasError('required')">
          El nombre de la ruta es obligatorio!!
        </mat-error>
      </mat-form-field>
      <br />
      <div>
        <label>Favorito</label>
        <mat-radio-group formControlName="favorito" [(ngModel)]="estado">
          <mat-radio-button [value]="true">Ruta Favorita</mat-radio-button>
          <mat-radio-button [value]="false">No Favorita</mat-radio-button>
        </mat-radio-group>
      </div>
      <br />
      <mat-form-field>
        <mat-label>Punto de inicio</mat-label>
        <input matInput formControlName="inicior" />
        <mat-error *ngIf="form.get('inicior')?.hasError('required')">
          El punto de inicio es obligatorio!!
        </mat-error>
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>destinor</mat-label>
        <input matInput formControlName="destinor" />
        <mat-error *ngIf="form.get('destinor')?.hasError('required')">
          El destino es obligatorio!!
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Distancia de la ruta </mat-label>
        <input matInput formControlName="distanciametros" />
        <mat-error *ngIf="form.get('distanciametros')?.hasError('required')">
          La distancia en metros de la ruta es obligatorio!!
        </mat-error>
      </mat-form-field>
      <br />
       <mat-form-field>
        <mat-label>Distancia de la ruta </mat-label>
        <input matInput formControlName="tiemporuta" />
        <mat-error *ngIf="form.get('tiemporuta')?.hasError('required')">
          El tiempo de la ruta es obligatorio!!
        </mat-error>
      </mat-form-field>

      <button matButton="elevated">Registrar</button>
    </form>
  </div>
</div>

