<div>
  <div><h1>{{edicion ? 'Actualizar':'Registro'}}</h1></div>
  <div>
    <form [formGroup]="form" (submit)="aceptar()">
      <mat-form-field *ngIf="edicion">
        <mat-label>ID</mat-label>
        <input matInput formControlName="codigo" />
        <mat-error *ngIf="form.get('codigo')?.hasError('required')">
          El codigo es obligatorio!!
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Incidente</mat-label>
        <input matInput formControlName="tipoi" />
        <mat-error *ngIf="form.get('tipoi')?.hasError('required')">
          El tipo del incidente obligatorio!!
        </mat-error>
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Tipos de Gravedad</mat-label>
        <mat-select formControlName="gravedadi">
          @for (food of tipos; track food) {
          <mat-option [value]="food.value">{{ food.viewValue }}</mat-option>
          }
        </mat-select>
        <mat-error *ngIf="form.get('gravedadi')?.hasError('required')">
          La gravedad del incidentes es obligatorio!!
        </mat-error>
      </mat-form-field>

       <mat-form-field>
        <mat-label>Incidente</mat-label>
        <input matInput formControlName="descripcioni" />
        <mat-error *ngIf="form.get('descripcioni')?.hasError('required')">
          La descripcion del incidentes es obligatorio!!
        </mat-error>
      </mat-form-field>


      <button matButton="elevated">Registrar</button>
    </form>
  </div>
</div>
