<div class="container">
    <div style="text-align: center;margin: 5%;">
        <h1>Registro de rutas</h1>
    </div>
    <div  style="text-align: center;margin: 5%;">
        <form [formGroup]="form" (submit)="aceptar()">
            <mat-form-field class="example-full-width">
                <mat-label>Destino</mat-label>
                <input matInput placeholder="12" formControlName="destinor">
                <mat-error *ngIf="form.get('destinor')?.hasError('required')">
                    El destino es obligatorio!!
                </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
                <mat-label>Distancia Metros</mat-label>
                <input matInput placeholder="12" formControlName="distanciametros">
                <mat-error *ngIf="form.get('distanciametros')?.hasError('required')">
                    La distancia en metros es obligatorio!!
                </mat-error>
            </mat-form-field>
            <br>
             <div>
        <label>Ruta favorito</label>
        <mat-radio-group formControlName="favoritor" [(ngModel)]="estado">
          <mat-radio-button [value]="true">Favorito</mat-radio-button>
          <mat-radio-button [value]="false">No favorito</mat-radio-button>
        </mat-radio-group>
      </div>
            <mat-form-field>
                <mat-label>Inicio</mat-label>
                <textarea matInput formControlName="inicior"></textarea>
                <mat-error *ngIf="form.get('inicior')?.hasError('required')">
                    El inicio de la ruta es obligatorios!!
                </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
                <mat-label>Tiempo Ruta</mat-label>
                <input matInput placeholder="400" formControlName="tiemporuta">
                <mat-error *ngIf="form.get('tiemporuta')?.hasError('required')">
                    El tiempo de la ruta es obligatorio!!
                </mat-error>
            </mat-form-field>

             <mat-form-field>
                <mat-label>Latitud </mat-label>
                <textarea matInput formControlName="latitudr"></textarea>
                <mat-error *ngIf="form.get('latitudr')?.hasError('required')">
                    La latitud es obligatorios!!
                </mat-error>
            </mat-form-field>
            <br>
             <mat-form-field>
                <mat-label>Longitud</mat-label>
                <textarea matInput formControlName="longitudr"></textarea>
                <mat-error *ngIf="form.get('longitudr')?.hasError('required')">
                    La longitud de la ruta es obligatorios!!
                </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
                <mat-label>Nombre de ruta</mat-label>
                <input matInput placeholder="Raul" formControlName="nombreruta">
                <mat-error *ngIf="form.get('nombreruta')?.hasError('required')">
                    El nombre de la ruta es obligatorio!!
                </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Seleccione el usuarios </mat-label>
                <mat-select formControlName="usuar">
                    @for (food of listaUsuarios; track food) {
                    <mat-option [value]="food.id">{{food.id}}</mat-option>
                    }
                </mat-select>
                <mat-error *ngIf="form.get('usuar')?.hasError('required')">
                    El usuario es obligatoria!!
                </mat-error>
            </mat-form-field>
            <br>
            <button matButton="elevated">Registrar</button>


        </form>
    </div>

</div>
