<div class="container">
    <div style="text-align: center; margin: 5%;">
        <h1>Lista de Rutas</h1>
    </div>
    <div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!-- ID Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ID</th>
                <td mat-cell *matCellDef="let element"> {{element.idRuta}} </td>
            </ng-container>
          
            <!-- Nombre Column -->
            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef> Nombre de Ruta </th>
                <td mat-cell *matCellDef="let element"> {{element.nombreRuta}} </td>
            </ng-container>

            <!-- Destino Column -->
            <ng-container matColumnDef="destino">
                <th mat-header-cell *matHeaderCellDef> Destino </th>
                <td mat-cell *matCellDef="let element"> {{element.destino}} </td>
            </ng-container>

            <!-- Destino Column -->
            <ng-container matColumnDef="inicio">
                <th mat-header-cell *matHeaderCellDef> Inicio </th>
                <td mat-cell *matCellDef="let element"> {{element.inicio}} </td>
            </ng-container>

             <!-- Ver Detalle Column -->
            <ng-container matColumnDef="verDetalleRuta">
                <th mat-header-cell *matHeaderCellDef> Detalle </th>
                <td mat-cell *matCellDef="let element">
                  <button mat-button (click)="verDetalle(element.idRuta)"> 
                    <mat-icon>visibility</mat-icon> Ver
                  </button>
                </td>
            </ng-container>
             <!-- Symbol Column -->
              <ng-container matColumnDef="Actualizar">
                <th mat-header-cell *matHeaderCellDef> Actualizar </th>
                <td mat-cell *matCellDef="let element">

         <button matButton [routerLink]="['ediciones', element.idRuta]"
         >
         <mat-icon>edit</mat-icon> 
        </button>
        </td>

      </ng-container>

      <ng-container matColumnDef="Eliminar">

        <th mat-header-cell *matHeaderCellDef> Eliminar </th>

        <td mat-cell *matCellDef="let element">

         <button matButton (click)="eliminar(element.idRuta)"
         >
         <mat-icon>delete</mat-icon>
        </button>
        </td>

      </ng-container>



            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>
