<div class="container">
    <div style="text-align: center;margin: 5%;">
        <h1>Lista de Rutas</h1>
    </div>
    <div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Position Column -->
            <ng-container matColumnDef="Ruta Id">
              <th mat-header-cell *matHeaderCellDef> ID</th>
              <td mat-cell *matCellDef="let element"> {{element.idRuta}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="Nombre de Ruta">
              <th mat-header-cell *matHeaderCellDef> Nombre de Ruta </th>
              <td mat-cell *matCellDef="let element"> {{element.nombreRuta}} </td>
            </ng-container>

             <!-- Name Column -->
            <ng-container matColumnDef="Destino">
              <th mat-header-cell *matHeaderCellDef> Destino </th>
              <td mat-cell *matCellDef="let element"> {{element.destino}} </td>
            </ng-container>

             <!-- Name Column -->
            <ng-container matColumnDef="Inicio">
              <th mat-header-cell *matHeaderCellDef> Inicio </th>
              <td mat-cell *matCellDef="let element"> {{element.inicio}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="Favorito">
              <th mat-header-cell *matHeaderCellDef> Estado </th>
              <td mat-cell *matCellDef="let element"> {{element.favorito?'Activo':'Inactivo'}} </td>
            </ng-container>

              <!-- Symbol Column -->
            <ng-container matColumnDef="Distancia en metros">
                <th mat-header-cell *matHeaderCellDef> Distancia en metros </th>
                <td mat-cell *matCellDef="let element"> {{element.distanciaMetros}} </td>
              </ng-container>
              <!-- Symbol Column -->
            <ng-container matColumnDef="Tiempo de ruta">
                <th mat-header-cell *matHeaderCellDef> Tiempo de ruta </th>
                <td mat-cell *matCellDef="let element"> {{element.tiempoRuta}} </td>
              </ng-container>

              <!-- Symbol Column -->
            <ng-container matColumnDef="Longitud">
                <th mat-header-cell *matHeaderCellDef> Longitud </th>
                <td mat-cell *matCellDef="let element"> {{element.longitud}} </td>
              </ng-container>

              <!-- Symbol Column -->
            <ng-container matColumnDef="Latitud">
                <th mat-header-cell *matHeaderCellDef> Latitud </th>
                <td mat-cell *matCellDef="let element"> {{element.latitud}} </td>
              </ng-container>
              <ng-container matColumnDef="Acciones">
  <th mat-header-cell *matHeaderCellDef> Acciones </th>
  <td mat-cell *matCellDef="let element">
    <button mat-button color="warn" (click)="eliminar(element.idRuta)">Eliminar</button>
    
  </td>
</ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          
          
    </div>
</div>
